@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Đặt vé";
}
<div style="padding-right: 0px; padding-left: 0px; width:100%">
    <div>
        <div class=" et-step-bar ">
            <div class="row" id="step-img">
                <div class="et-col-md-3 text-center">
                    <img src="https://dsvn.vn/images/activeStep.png" alt="">
                </div>
                <div class="et-col-md-3 text-center">
                    <img class="img-inactive" src="https://dsvn.vn/images/activeStep.png" alt="">
                    <img src="https://dsvn.vn/images/inActiveStep.png" alt="">
                </div>
                @*<div class="et-col-md-3 text-center">
                    <img class="img-inactive" src="https://dsvn.vn/images/activeStep.png" alt="">
                    <img src="https://dsvn.vn/images/inActiveStep.png" alt="">
                </div>*@
                <div class="et-col-md-3 text-center">
                    <img class="img-inactive" src="https://dsvn.vn/images/activeStep.png" alt="">
                    <img src="https://dsvn.vn/images/inActiveStep.png" alt="">
                </div>
            </div>
            <div class="row">
                <div class="et-col-md-3 text-center text-info">
                    <span>
                        Nhập thông tin hành khách
                    </span>
                </div>
                <div class="et-col-md-3 text-center">
                    <span>
                        xác nhận thông tin
                    </span>
                </div>
                @*<div class="et-col-md-3 text-center">
                    <span>
                        Thanh toán
                    </span>
                </div>*@
                <div class="et-col-md-3 text-center">
                    <span>
                        Hoàn tất
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            
            <div class="step">
                @*Nhập thông tin kh*@
                <div class="step-container">
                    <div class="et-page-header">
                        <span class="et-main-label" style="float:left">THÔNG TIN GIỎ VÉ</span>
                    </div>
                    <div class=" style-alert">
                        <div class="alert alert-info">
                            <p>
                                Các vé có biểu tượng <img src="~/Images/waring20.png" /> là các vé bị hết thời gian tạm giữ
                                . Xin vui lòng loại bỏ các vé này khỏi danh sách vé đặt mua trước khi thực hiện giao dịch thanh toán tiền.
                            </p>
                            <p>
                                Quý khách vui lòng điền đầy đủ, chính xác tất cả các thông tin về hành khách đi tàu bao gồm: Họ tên đầy đủ, số giấy tờ tùy thân
                                (Số chứng minh nhân dân hoặc số hộ chiếu hoặc số giấy phép lái xe đường bộ được pháp luật Việt Nam công nhận hoặc ngày tháng năm
                                sinh nếu là trẻ em hoặc thẻ sinh viên nếu là sinh viên). Để đảm bảo an toàn, minh bạch trong quá trình bán vé các thông tin này sẽ được nhân viên
                                soát vé kiểm tra trước khi lên tàu theo đúng các quy định của Tổng công ty Đường sắt Việt Nam.
                            </p>
                        </div>
                    </div>
                    @*//responsive-mobile*@
                    <div>
                        <div class="component-mobile ">

                            <div class="card">
                                <div class="card-title my-card-title">
                                    Chiều đi
                                </div>

                                <div class="card-body mobile-card">



                                    <div class="  col-xs-10 col-sm-10 text-left ">
                                        <div>
                                            -Tàu
                                            <span class="text-info-ticket ">
                                                SE7
                                            </span>
                                            Toa
                                            <span class="text-info-ticket ">
                                                1
                                            </span>
                                            chỗ
                                            <span class="text-info-ticket ">
                                                40
                                            </span>

                                            Ngồi mềm điều hòa
                                        </div>
                                        <div>
                                            -
                                            <span class="text-info-ticket ">
                                                Hà Nội
                                            </span>
                                            đi
                                            <span class="text-info-ticket ">
                                                Sài Gòn
                                            </span>
                                            ngày
                                            <span class="text-info-ticket ">
                                                29/1/2020 6:00
                                            </span>
                                        </div>
                                        <div>
                                            - Thành tiền (VND) :
                                            <span class="text-info-ticket ">
                                                1,033,000
                                            </span>
                                            VND
                                        </div>
                                    </div>
                                    <div class="col-xs-2 col-sm-2">
                                        <div>
                                            <img src="~/Images/waring20.png" />
                                        </div>
                                        <div>
                                            <a class="et-btn-cancel">

                                            </a>
                                        </div>
                                    </div>
                                    <div style="margin-top:50px">
                                        <div class="col-xs-3 col-sm-3">
                                            <div style="margin-bottom:15px">
                                                <span class="text-left" style="border-radius: 3px; font-size: 13px;"> Họ Tên</span>
                                            </div>

                                            <div style="margin-bottom:15px">
                                                <span class="  text-left " style="border-radius: 3px; font-size: 13px;">đối tượng</span>
                                            </div>
                                            <div>
                                                <span class=" text-left" style="border-radius: 3px; font-size: 13px;">Số giấy tờ</span>
                                            </div>
                                        </div>
                                        <div class="col-xs-9 col-sm-9">
                                            <div style="margin-bottom:15px">
                                                <input type="text" placeholder="Thông tin hành khách" class="form-control" />
                                            </div>
                                            <div style="margin-bottom:15px">
                                                <select class="form-control">
                                                    <optgroup label="Người Việt Nam">
                                                        <option value="0" selected="selected" label="Người lớn">Người lớn</option>
                                                        <option value="1" label="Trẻ em">Trẻ em</option>
                                                        <option value="3" label="Người cao tuổi">Người cao tuổi</option>
                                                    </optgroup>
                                                    <optgroup label="Người nước ngoài">
                                                        <option value="0" selected="selected" label="Người lớn">Người lớn</option>
                                                        <option value="1" label="Trẻ em">Trẻ em</option>
                                                        <option value="3" label="Người cao tuổi">Người cao tuổi</option>
                                                    </optgroup>
                                                </select>
                                            </div>
                                            <div>


                                                <input type="text" placeholder="Số CMND/ Hộ chiếu/ Ngày tháng năm sinh trẻ em" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                 @*//responsive-mobile*@
                    <table class="tb-paying table table-bordered">
                        <thead class="et-table-header">
                            <tr>
                                <th class="bg-table" style="width:25%">
                                    Họ tên
                                </th>
                                <th class="bg-table" style="width:20%">
                                    Thông tin chỗ
                                </th>
                                <th class="bg-table" style="width:10%">
                                    Giá vé
                                </th>
                                <th class="bg-table" style="width:5%">
                                    Giảm đối tượng
                                </th>
                                <th class="bg-table" style="width:10%">
                                    khuyến mại
                                </th>
                                <th class="bg-table" style="width:5%">
                                    Bảo hiểm
                                </th>
                                <th class="bg-table" style="width:20%">
                                    Thành tiền (VNĐ)
                                </th>
                                <th class="bg-table" style="width:5%">

                                </th>
                            </tr>
                        </thead>
                        <tbody id="chieudi" class="table-paying">
                            @*<tr class="et-table-group-header cd">
                                <td colspan="1" style="text-align:center">
                                    <label>
                                        Chiều đi
                                    </label>
                                    <div>
                                        Vui lòng nhập địa chỉ cưu trú, lưu trú vào phần địa chỉ lưu trú kế bên
                                    </div>
                                </td>
                                <td colspan="7" style="text-align:left ; vertical-align:middle">
                                    <div class="input-group input-group-sm">
                                        <span class="style-input input-group-addon text-left" style="padding-right:22px">
                                            Địa chỉ nơi đi
                                            <span style="color:red;">*</span>
                                        </span>

                                        <input class=" container-paying form-control" placeholder="Ghi rõ số nhà, xã/phường, quận/huyện/thị xã, tỉnh/thành phố" style="border-top-right-radius: 4px !important;border-bottom-right-radius: 4px !important;" />
                                    </div>
                                    <div class="input-group input-group-sm">
                                        <span class=" style-input input-group-addon text-left">
                                            Địa chỉ nơi đến
                                            <span style="color:red;">*</span>
                                        </span>

                                        <input class="container-paying form-control" placeholder="Ghi rõ số nhà, xã/phường, quận/huyện/thị xã, tỉnh/thành phố" style="border-top-right-radius: 4px !important;border-bottom-right-radius: 4px !important;" />
                                    </div>
                                </td>
                            </tr>*@
                            <!--<tr>
                                <td class="et-table-cell" style="padding: 0px;border-bottom: solid 2px #ccc;">
                                    <div class="input-group input-group-sm" style="margin-bottom: 6px;width: 100%;">
                                        <span class="input-group-addon text-left " style="width: 84px;">Họ tên</span>
                                        <input type="text" placeholder="Thông tin hành khách" class="form-control input-sm" />
                                    </div>
                                    <div class="input-group input-group-sm" style="margin-bottom: 6px;width: 100%;">
                                        <span class=" input-group-addon text-left " style="width: 84px;">đối tượng</span>
                                        <select class="form-control input-sm">
                                            <optgroup label="Người Việt Nam">
                                                <option value="0" selected="selected" label="Người lớn">Người lớn</option>
                                                <option value="1" label="Trẻ em">Trẻ em</option>
                                                <option value="3" label="Người cao tuổi">Người cao tuổi</option>
                                            </optgroup>
                                            <optgroup label="Người nước ngoài">
                                                <option value="0" selected="selected" label="Người lớn">Người lớn</option>
                                                <option value="1" label="Trẻ em">Trẻ em</option>
                                                <option value="3" label="Người cao tuổi">Người cao tuổi</option>
                                            </optgroup>
                                        </select>
                                    </div>
                                    <div class="input-group input-group-sm" style="margin-bottom: 6px;width: 100%;">
                                        <span class=" text-left input-group-addon" style="width: 84px;">Số giấy tờ</span>
                                        <input type="text" placeholder="Số CMND/ Hộ chiếu/ Ngày tháng năm sinh trẻ em" class="form-control input-sm" />
                                    </div>
                                </td>
                                <td style="font-size: 10px;border-bottom: solid 2px #ccc;">
                                    <div class="text-center">
                                        <img src="~/Images/waring20.png" tooltip="Vé hết thời gian giữ, không còn trong giỏ vé.">
                                    </div>
                                    <div>
                                        <div>
                                            SE9 Hà Nội-Sài Gòn
                                        </div>
                                        <div>
                                            26/01/2022 14:25
                                        </div>
                                        <div>-->
                                            @*'Toa ' + ve.carNo + ' chỗ ' + ve.seat.ChoSo*@
                                            <!--Toa 1 chỗ 51
                                        </div>
                                        <div>
                                            Ngồi mềm điều hòa
                                        </div>
                                    </div>
                                </td>-->
                                @*Giá vé*@
                                <!--<td class="et-table-cell text-right" style="border-bottom: solid 2px #ccc;">
                                    949,000
                                </td>-->
                                @*Giảm đối tượng*@
                                <!--<td class="et-table-cell text-right" style="border-bottom: solid 2px #ccc;">
                                    0
                                </td>-->
                                @*khuyến mại*@
                                <!--<td class="et-table-cell text-left" style="border-bottom: solid 2px #ccc;">
                                    <div>
                                        Không có khuyến mại cho vé này
                                    </div>
                                </td>-->
                                @*Bảo hiểm*@
                                <!--<td class="et-table-cell text-right" style="border-bottom: solid 2px #ccc;">
                                    1,000
                                </td>-->
                                @*Thành tiền*@
                                <!--<td class="et-table-cell text-right" style="border-bottom: solid 2px #ccc;">
                                    950,000
                                </td>
                                <td style="vertical-align: middle;border-bottom: solid 2px #ccc;">
                                    <a class="et-btn-cancel">

                                    </a>
                                </td>
                            </tr>-->
                        </tbody>
                        <tfoot>
                            <tr class="bg-info">
                                @*<td colspan="6">
                                    <span style="font-weight:700; float:right">Tổng tiền</span>
                                </td>
                                <td class="text-right" style="font-weight:700">
                                    <span>2,850,000</span>
                                </td>
                                <td>&nbsp;</td>*@
                            </tr>
                        </tfoot>
                    </table>

                    <div class="et-register-block">
                        <h5>Thông tin người đặt vé</h5>
                        <div class="text-info" style="margin-bottom:15px">
                            Quý khách vui lòng điền đẩy đủ và chính xác các thông tin
                            về người mua vé dưới đây. Các thông tin này sẽ được sử dụng để xác minh
                            người mua vé và lấy vé tại ga trước khi lên tàu theo đúng các
                            quy định của Tổng công ty Đường sắt Việt Nam.
                        </div>
                        <div class="form-horizontal form-group">
                            <form id="formmain">
                            @*<div class="row error1">
                                <label class="col-xs-4 et-col-md-2 text-left"></label>
                                <div class="col-xs-8 et-col-md-4" style="margin-bottom:5px">
                                    <label class="form-control input-sm ErrornameMain " />
                                </div>
                                <label class="col-xs-4 et-col-md-2 text-left"></label>
                                <div class="col-xs-8 et-col-md-4" style="margin-bottom:5px">
                                    <label class="form-control input-sm ErrorcmndMain " />
                                </div>
                            </div>*@
                            <div class="row">
                                <label class="col-xs-4 et-col-md-2 text-left">Họ và tên<span style="color: red">*</span></label>
                                <div class="col-xs-8 et-col-md-4" style="margin-bottom:5px">
                                    <input name="mainName" type="text" class="form-control input-sm " />
                                </div>
                                <label class="col-xs-4 et-col-md-2 text-left">Số CMND/Hộ chiếu<span style="color: red">*</span></label>
                                <div class="col-xs-8 et-col-md-4" style="margin-bottom:5px">
                                    <input name="mainCMND" type="text" class="form-control input-sm " />
                                </div>
                            </div>
                            @*<div class="row error2">
                                <label class="col-xs-4 et-col-md-2 text-left"></label>
                                <div class="col-xs-8 et-col-md-4" style="margin-bottom:5px">
                                    <label class="form-control input-sm " />
                                </div>
                                <label class="col-xs-4 et-col-md-2 text-left"></label>
                                <div class="col-xs-8 et-col-md-4" style="margin-bottom:5px">
                                    <label class="form-control input-sm " />
                                </div>
                            </div>*@
                            <div class="row">
                                <label class="col-xs-4 et-col-md-2 text-left">Email</label>
                                <div class="col-xs-8 et-col-md-4" style="margin-bottom:5px">
                                    <input name="mainEmail" type="email" class="form-control input-sm " />
                                </div>
                                <label class="col-xs-4 et-col-md-2 text-left">Xác nhận email</label>
                                <div class="col-xs-8 et-col-md-4" style="margin-bottom:5px">
                                    <input name="mainVerify" type="email" class="form-control input-sm" />
                                </div>
                            </div>
                            @*<div class="row Error3">
                                <label class="col-xs-4 et-col-md-2 text-left"></label>
                                <div class="col-xs-8 et-col-md-4" style="margin-bottom:5px">
                                    <label  class="form-control input-sm " />
                                </div>

                            </div>*@
                            <div class="row">
                                <label class="col-xs-4 et-col-md-2 text-left">Số điện thoại di động<span style="color: red">*</span></label>
                                <div class="col-xs-8 et-col-md-4" style="margin-bottom:5px">
                                    <input name="phoneMain" type="tel" class="form-control input-sm " />
                                </div>

                            </div>
                                </form>
                        </div>
                        <div style="margin-top:20px">
                            <h5 class="ng-binding">Phương thức thanh toán</h5>
                            <div class="list-group border-style" style="padding:15px">
                                <div style="display:flex; align-items:center">
                                    <input id="methodPaying" type="radio" style="margin-right:5px" />
                                    <img src="~/Images/logo-dvtt-PayLater.png" style="width:100px; margin-right:5px" />
                                    <div>
                                        <div class="text-info" style="font-size:12px; font-weight:700">
                                            Thanh toán trả sau bằng tiền mặt, internet banking tại các điểm giao dịch:
                                        </div>
                                        <div>
                                            - Tại các nhà ga, các điểm bưu cục VNPost, ngân hàng VIB, Payoo, Internet Banking
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="step-container">
                   
                        <h3>Xác nhận thông tin đặt vé</h3>
                        <div>
                            <h5>Thông tin người mua vé</h5>
                        </div>
                     <div id="VerifyInFo" style="border-bottom: 1px solid #ddd ; padding-bottom:15px;">
                        @*<table style="width:100%">
                            <tr>
                                <td>
                                    <table style="width:80%">
                                        <tr>
                                            <td width="50%">
                                                <span> họ tên</span>
                                            </td>
                                            <td width="50%">
                                                <span style="font-weight:700"> họ tên</span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td>
                                    <table style="width:80%">
                                        <tr>
                                            <td width="50%">
                                                <span>Mã hội viên</span>
                                            </td>
                                            <td width="50%">
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table style="width:80%">
                                        <tr>
                                            <td width="50%">
                                                <span> CMND/hộ chiếu:</span>
                                            </td>
                                            <td width="50%">
                                                <span style="font-weight:700">282265266</span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <table style="width:80%">
                                        <tr>
                                            <td width="50%">
                                                <span> số di động:</span>
                                            </td>
                                            <td width="50%">
                                                <span style="font-weight:700">282265266</span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <table style="width:80%">
                                        <tr>
                                            <td width="50%">
                                                <span> Email:</span>
                                            </td>
                                            <td width="50%">
                                                <span style="font-weight:700">abc@gmail.com</span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table style="width:80%">
                                        <tr>
                                            <td width="50%">
                                                <span>Phương thức thanh toán </span>
                                            </td>
                                            <td width="50%">
                                                <span style="font-weight:700"></span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>

                            </tr>
                        </table>*@
                    </div>
                <div class="tb-detail" style="margin-top:50px">
                    <table class="table table-bordered">
                        <thead class="et-table-header">
                            <tr>
                                <th class="bg-table" style="width:8%">
                                     STT
                                </th>
                                <th class="bg-table" style="width:50%">
                                    Thông tin mua vé
                                </th>
                                <th class="bg-table">
                                    Giá vé
                                </th>
                                <th class="bg-table" style="width:180px">
                                    Thành tiền (VNĐ)
                                </th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <p>1</p>
                                </td>
                                <td>
                                    <div>
                                        <div style="display:flex">
                                            <div style="margin-right:15px">
                                                Họ tên :
                                            </div>
                                            <div>
                                               đối tượng :
                                            </div>
                                            <div style="margin-right:15px">
                                               Số giấy tờ :
                                            </div>
                                        </div>
                                        <div>
                                            Hành trình :
                                        </div>
                                    </div>
                                </td>
                                <td class="text-right">
                                    <span>1,0033,000</span>
                                </td>
                                <td class="text-right">
                                    <span>1,0033,000</span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <span style="float:right; font-weight:700">Tông tiền</span>
                                </td>
                                <td colspan="2">
                                    <span style="float:right; font-weight:700">1/0033,00</span>
                                </td>
                            
                            </tr>
                            
                                
                        </tbody>
                    </table>
                </div>
                    </div>
                <div>

                </div>
                <div>

                </div>
            </div>
            <div class="col-md-12">
            </div>
            <div style="margin-top:50px">
                <button class="btn et-btn-rec" style="float:left" type="button" id="prev">Quay lại</button>
                <button class=" btn et-btn-rec" style="float:right" type="button" id="next">Tiếp theo</button>
            </div>
        </div>

    </div>
</div>
@section Script {
    <script src="~/JSProject/Paying.js"></script>
}
