<header>
    <div class="et-banner">
        <div class="container et-banner row ">
            <div style="float:left ; width:92%">
                <div>
                    <img src="https://dsvn.vn/images/LOGO_n.png" alt="logo">
                </div>
            </div>
            <div style="float:right; display:flex; align-items:center" class="navbar-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

            </div>

        </div>
        <div class="collapse" id="navbarToggleExternalContent" style="z-index:9999; width:100%; background-color: #2fa4e7">
            <div>
                <div class="style-menu">
                    <a class="nav-item active nav-link" href="#"><span class="glyphicon glyphicon-home"></span></a>
                </div>
                <div class="style-menu">
                    <a class="nav-item nav-link" href="#">Tìm vé</a>
                </div>
            </div>
        </div>
    </div>
</header>
<nav class="navbar navbar-expand-lg bg-navbar">
    <div class=" navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item active" href="#"><span class="glyphicon glyphicon-home"></span></a>
            <a class="nav-item nav-link" href="/">Tìm vé</a>
        </div>
    </div>
</nav>